@import "bootstrap";

li {
    list-style: none;
}

.top-content {
    margin-top: 10%;
    padding-top: 30px;
    text-align: center;
    .top-list {
        li {
            padding: 10px;
            font-size: 1.5rem;
        }
    }
}

.page-title {
    color: rgba(15, 15, 15, 0.425);
    padding-top: 30px;
}

#error_explanation {
    color: red;
}
